<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Better Reads - Book Opinions</title>
  <link rel="stylesheet" href="/style_prototype.css">
</head>
<body>
  <div id="navbar">
    <div id="logo"><a href="/">Better Reads</a></div>
    <div class="user-actions">
      {{#if loggedIn}}
      <div><a href="/logout">Logout</a></div>
      <div><a href="/profile">Hello, {{username}}</a></div>
      {{else}}
      <div><a href="/login">Login</a></div>
      <div><a href="/register">Register</a></div>
      {{/if}}
    </div>
  </div>

  <div id="main-layout">
    <!-- Left sidebar -->
    <div id="sidebar">
      <ul>
        <li><a href="/profile">My User</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/my-reviews">My Books</a></li>
        <li><a href="/favorites">Following</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>

    <div id="container">
      <div id="new-post">
        <form action="/post" method="post">
          <textarea name="post-content" placeholder="Post your opinion" maxlength="50000" required></textarea>
          <select id="book-selection" name="topic" required>
            <option value="" disabled selected>Select a book/genre/author</option>
            <option value="1984">1984</option>
            <option value="Farenheit 451">Farenheit 451</option>
            <option value="Brave New World">Brave New World</option>
          </select>
          <button type="submit">Post</button>
        </form>
      </div>

      <div id="feed">
        {{#if posts}}
        {{#each posts}}
        <div class="post">
          <div class="user-info">
            <!-- Se tiene que agregar el link personalizado para el usuario de este post -->
            <strong>@{{username}}</strong> on <a href="book/{{book_id}}" class="topic-link"><em>{{topic}}</em></a>
          </div>
          <div class="review">
            {{content}}
          </div>
          <div class="post-actions">
            <div style="display: flex; align-items: center;">
              <span style="margin-right: 8px;">❤️ {{number_likes}}</span>
              <span style="margin-right: 8px;">🔁 {{number_reposts}}</span>
              <span style="margin-right: 8px;">📩 {{number_comments}}</span>
            </div>
            <!-- Se tiene que agregar el link personalizado para el comentario de este post -->
            <a href="#">Comment</a>
          </div>
        </div>
        {{/each}}
        {{#if last_date}}
        <a href="/?last_date={{last_date}}">Load more posts</a>
        {{else}}
        <p>You have reached the bottom! There are no more older posts</p>
        {{/if}}
        {{else}}
        <p>No posts yet</p>
        {{/if}}
      </div>
    </div>

</body>
</html>