<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/style_book.css" />
<link rel="stylesheet" href="/static/css/stars_review.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}
  
  <div id="content">
  <div id="container">
    {{#each books}}
    <div class="book-info">
      <h1>{{book_name}}</h1>
      <img id="book-cover" src={{image}} alt="">
      <p>Authors: {{authors}}</p>
      <p>Genres: {{genres}}</p>
      <p>{{description}}</p>
    </div>
    {{/each}}
    </div>
  </div>
</div>