<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/style_book.css" />
<link rel="stylesheet" href="/static/css/stars_review.css" />
<link rel="stylesheet" href="/static/css/style_star_input.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}
  
  <div id="content">
  <div id="container">
    <div class="book-info">
      <h1>{{bookName}}</h1>
      <img id="book-cover" src={{bookCover}} alt="">
      <p>Authors: 
        {{#each authors}}
        <a href="/browse/author/{{.}}">{{.}}, </a>
        {{/each}}
      </p>
      <p>Genres: 
        <a href="/browse/genre/{{genres}}">{{genres}}</a>
      </p>
      <p>{{bookDescription}}</p>
    </div>

    {{#if loggedIn}}
      <div id="bookStateDropdown">
        <div class="buttons-container">
          <div class="book-state-container">
            <select id="bookState" name="bookState">
                <option value="none" {{#if (eq bookState 'none')}}selected{{/if}}>Unread</option>
                <option value="reading" {{#if (eq bookState 'reading')}}selected{{/if}}>Reading</option>
                <option value="finished" {{#if (eq bookState 'finished')}}selected{{/if}}>Finished</option>
                <option value="plan-to-read" {{#if (eq bookState 'plan-to-read')}}selected{{/if}}>Plan to Read</option>
            </select>
            <button id="saveStateButton" type="button">Save</button>
            <button id="saveStateButton" onclick="addToCart('{{userId}}','{{bookId}}')" type="button">Add to Cart</button>
          </div>
          <div class="see-posts-container">
            <a href="/?book_id={{bookId}}"><button id="seePostsButton" type="button" class="wide-button">💬 See Posts</button></a>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if allowReview}}
      <div id="review">
        <h2>Realiza un review</h2>
        <div id="starReview">
          <form id="reviewForm" action="" method="post">
            <fieldset class="ratingInput">
              <input type="radio" id="star5" name="rating" value="5" /><label
                class="full"
                for="star5"
                title="Awesome - 5 stars"
              ></label>
              <input type="radio" id="star4" name="rating" value="4" /><label
                class="full"
                for="star4"
                title="Pretty good - 4 stars"
              ></label>
              <input type="radio" id="star3" name="rating" value="3" /><label
                class="full"
                for="star3"
                title="Meh - 3 stars"
              ></label>
              <input type="radio" id="star2" name="rating" value="2" /><label
                class="full"
                for="star2"
                title="Kinda bad - 2 stars"
              ></label>
              <input type="radio" id="star1" name="rating" value="1" /><label
                class="full"
                for="star1"
                title="Sucks big time - 1 star"
              ></label>
            </fieldset>

            {{! NO SE PORQUE NO QUEDA ABAJO¿?, agrego salto de lineas manuales }}
            <br /><br /><br />
            <div id="textReview">
              <textarea name="reviewText"></textarea>
            </div>
            <div class="share-option">
              <input type="checkbox" id="shareOnFeed" name="shareOnFeed" checked>
              <label for="shareOnFeed">Share on Feed</label>
            </div>
              <button type="submit">
                <span>Send</span>
              </button>
          </form>
        </div>
      </div>

      <div id="confirmationMessage" style="display: none;">
        <h2>Thank you for your review!</h2>
      </div>
    {{/if}}
    <div id="userReviews">
      <h2>Reviews</h2>
      {{#if reviews.length}}

        <h3>Puntaje Promedio:</h3>
        {{! Dibujar estrellas parcialmente llenas }}
        <div class="ratings ratingsBig">
          <div class="full-stars" style="width:{{ratingsMean}}%"></div>
          <div class="empty-stars"></div>
        </div>

        <h3>Comentarios:</h3>
        {{#each reviews}}
          <div class="review">
            <div class="username">{{username}}</div>
            <div class="ratings">
              <div class="full-stars" style="width:{{rating}}%"></div>
              <div class="empty-stars"></div>
            </div>
            <div class="text">{{review_text}}</div>
          </div>
        {{/each}}
      {{else}}
        <p>No reviews yet.</p>
      {{/if}}
    </div>

  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();
function addToCart(userId, bookId) {
  const data = {userId,bookId}
  socket.emit('addBookToCart', data);
  Swal.fire({
  position: "center",
  icon: "success",
  title: "Book added to cart",
  showConfirmButton: false,
  timer: 1500
});
}

document.getElementById('reviewForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission behavior


    // Get the form data
    const formData = new FormData(this);
    const urlEncodedData = new URLSearchParams(formData).toString();

    // Send form data using Fetch API
    fetch(window.location.pathname + "/review", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
        },
        body: urlEncodedData
    })
    .then(response => response.json()) // assuming the server returns JSON
    .then(data => {
        if (data.success) {document.getElementById('reviewForm').style.display = 'none';

            // Show a confirmation message
            document.getElementById('confirmationMessage').style.display = 'block';

            //reload page to show new comment
            window.location.reload();

        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while submitting the review.');
    });
});
</script>

<script>
  document.getElementById('saveStateButton').addEventListener('click', function() {
    const selectedState = document.getElementById('bookState').value;
    fetch(window.location.pathname + "/state", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
        },
        body: new URLSearchParams({
          'bookState': selectedState
        })
    })
  });
</script>