<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/style_book_list.css" />
<link rel="stylesheet" href="/static/css/stars_review.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}
  
  <div id="content">
  <div id="container">
    <h1>Genre: {{genre}}</h1>
    <div class="browse-books">
      {{#each books}}
      <div class="book-info">
        <div class="title-container">
          <a href="/book/{{id}}"><h2 class="book-title">{{book_name}}</h2></a>
        </div>
        <div class="info-cover-container">
          <img id="book-cover" src={{image}} alt="">
        </div>
        <div class="author-container"><p>Authors:<br>{{authors}}</p></div>
        <div class="author-container"><p>Genres:<br>{{genres}}</p></div>
        <p>{{description}}</p>
      </div>
      {{/each}}
    </div>
    </div>
  </div>
</div>