<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/browse_style.css" />

<link rel="stylesheet" href="/static/css/style_book_list.css" />

<div></div>

<div id="browse-container" class="{{#if search}}with-results{{else}}without-results{{/if}}">

  <h1>Browse</h1>

  <div id="book-list">
    <label for="book-select">Search for a book, author or genre!</label>
    <div class="select-button-container">
    <select name="book" id="book-select">
      <option value="{{search}}">{{search}}</option>
    </select>

  <button type="submit" onclick="return redirectToSearch(event)">🔎︎</button>
  </div>
  </div>
  {{#if search}}
{{!-- links to search by author and book, by only book, by only author --}}
<div class="search-options">
  <p>Search by:</p>
  <a href="/browse/search/{{search}}" class="{{#if validTypes.book_and_author_name}}selected{{/if}}">Author and book</a>
  <a href='/browse/search/{{search}}?type=book_name' class="{{#if validTypes.book_name}}selected{{/if}}">Only book</a>
  <a href="/browse/search/{{search}}?type=author_name" class="{{#if validTypes.author_name}}selected{{/if}}">Only author</a>
</div>
</div>

{{/if}}



{{#if search}}
{{> paginated_books}}
{{/if}}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>

    function parseSearchAllForResults(data) {
  console.log(data);

  let books = data.bookEntries.map(function(book) {
    const isCoincidenceByAuthor = (book.coincidence_type === "author_name") || (book.coincidence_type === "book_and_author_name");
    let text = book.book_name;
    if (isCoincidenceByAuthor) {
      text += ` (by ${book.author_coincidence})`;
    }

    return {
      id: "book-" + String(book.id),
      text: text
    };
  });

  console.log("Books:", books);

  let authors = data.authorEntries.map(function(author) {
    return {
      id: "author-" + String(author.author_id),
      text: author.author_id
    };
  });

  let genres = data.genreEntries.map(function(genre) {
    return {
      id: "genre-" + String(genre.genre_id),
      text: genre.genre_id
    };
  });

  console.log("Genres:", genres);

  let finalResult = {
    results: []
  };

  if (books.length > 0) {
    finalResult.results.push({
      text: "Books",
      children: books
    });
  }

  if (authors.length > 0) {
    finalResult.results.push({
      text: "Authors",
      children: authors
    });
  }

  if (genres.length > 0) {
    finalResult.results.push({
      text: "Genres",
      children: genres
    });
  }

  return finalResult;
}

$(document).ready(function() {
  $('#book-select').select2({
    width: '100%',
    placeholder: "-- Search something --",
    tags: true,
    insertTag: function(data, tag) {
      data.unshift(tag);
    },
    createTag: function(params) {
      if (params.term === '') {
        return null;
      }
      return {
        id: "custom-" + params.term,
        text: params.term + " (See more)",
        newOption: true
      };
    },
    ajax: {
      url: '/browse/search_all',
      dataType: 'json',
      delay: 100,
      data: function(params) {
        return {
          search: params.term
        };
      },
      processResults: parseSearchAllForResults,
      cache: true
    }
  });
});

function redirectToSearch(event) {
  event.preventDefault();
  const select = document.getElementById('book-select');
  const selectionId = select.value;

  if (selectionId.startsWith("custom-")) {
    const search = selectionId.replace("custom-", "");
    window.location.href = `/browse/search/${search}`;
  } else if (selectionId.startsWith("book-")) {
    const bookId = selectionId.replace("book-", "");
    window.location.href = `/book/${bookId}`;
  } else if (selectionId.startsWith("author-")) {
    const authorId = selectionId.replace("author-", "");
    window.location.href = `/browse/author/${authorId}`;
  } else if (selectionId.startsWith("genre-")) {
    const genreId = selectionId.replace("genre-", "");
    window.location.href = `/browse/genre/${genreId}`;
  }
}

</script>

