
  {{!-- <div id="navbar">
    <div id="logo"><a href="/">Logo!</a></div>
    <div id="user-info">
      {{#if loggedIn}}
        <span>Welcome, {{username}}!</span>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
  </div> --}}

<div id="navbar">
  <div id="logo"><a href="/">Better Reads</a></div>
  <div class="user-actions">
    {{#if loggedIn}}
    <div><a href="/logout">Logout</a></div>
    <div><a href="/profile">Hello, {{username}}</a></div>
    {{else}}
    <div><a href="/login">Login</a></div>
    <div><a href="/register">Register</a></div>
    {{/if}}
  </div>
</div>



  <div id="browse-container">
  <h1>Browse Books</h1>

  <div id="book-list">
    <label for="book-select">Select a book:</label>
    <select name="book" id="book-select" style="width: 100%;">
      <option value="">-- Select a book --</option>
      {{#each bookEntries}}
        <option value="{{this.id}}">{{this.book_name}}</option>
      {{/each}}
    </select>
  </div>
  
  <button type="submit" onclick="return redirectToBook(event)">View Book</button>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
  $('#book-select').select2({
    placeholder: "-- Select a book --",
    ajax: {
      url: '/browse/search',
      dataType: 'json',
      delay: 300,
      data: function(params) {
        return {
          search: params.term 
        };
      },
      processResults: function(data) {
        return {
          results: data.bookEntries.map(book => ({
            id: book.id,
            text: book.book_name
          }))
        };
      },
      cache: true
    }
  });
});
    function redirectToBook(event) {
      event.preventDefault(); 
      const select = document.getElementById('book-select');
      const bookId = select.value;
      if (bookId) {
        window.location.href = `/book/${bookId}`;
      } else {
        alert("Please select a book."); 
      }
    }
  </script>
