<link rel="stylesheet" href="/static/css/container_style.css" />
<link rel="stylesheet" href="/static/css/browse_style.css" />

<link rel="stylesheet" href="/static/css/style_book_list.css" />


<div id="browse-container-flex">
<div id="browse-container" class="{{#if search}}with-results{{else}}without-results{{/if}}">
  <h1>Browse</h1>

  <div id="book-list">
    <label for="book-select">Search for a book, genre or user!:</label>
    <div class="select-button-container">
    <select name="book" id="book-select">
    </select>

  <button type="submit" onclick="return redirectToSearch(event)">🔎︎</button>
  </div>
  </div>
  {{#if search}}
{{!-- links to search by author and book, by only book, by only author --}}
<div class="search-options">
  <p>Search by:</p>
  <a href="/browse/search/{{search}}" class="{{#if validTypes.book_and_author_name}}selected{{/if}}">Author and book</a>
  <a href='/browse/search/{{search}}?type=book_name' class="{{#if validTypes.book_name}}selected{{/if}}">Only book</a>
  <a href="/browse/search/{{search}}?type=author_name" class="{{#if validTypes.author_name}}selected{{/if}}">Only author</a>
</div>

{{/if}}
</div>
</div>



{{#if search}}
{{#if results}} 
<div class="browse-books">
      {{#each results}}
      <div class="book-info">
        <div class="title-container">
          <a href="/book/{{id}}"><h2 class="book-title">{{book_name}}</h2></a>
        </div>
        <div class="info-cover-container">
          <img id="book-cover" src={{image}} alt="">
        </div>
        <div class="author-container"><p>Authors:<br>{{authors}}</p></div>
        <div class="author-container"><p>Genres:<br>{{genres}}</p></div>
        <p>{{description}}</p>
      </div>
      {{/each}}
    </div>
{{else}}
  {{!-- No se encontró ningun resultado --}}
  <div class="no-results">
    <p>No results found</p>
{{/if}}
{{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>



    $(document).ready(function() {
  $('#book-select').select2({
    placeholder: "-- Select a book --",
    tags: true,
    //Hace que el tag custom del usuario aparezca al principio de lista
    insertTag: function(data, tag) {
      data.unshift(tag);
    },
    //Le asigna al tag custom del usuario el id "custom",
    //Para poder saber cuando hacer la query personalizada
    createTag: function(params) {
      if (params.term === '') {
        return null;
      }
      return {
        id: "custom-" + params.term,
        text: params.term + " (See more)",
        newOption: true
      }
    },
    ajax: {
      url: '/browse/search',
      dataType: 'json',
      delay: 100,
      data: function(params) {
        return {
          search: params.term 
        };
      },
      processResults: function(data) {
        let result = data.bookEntries.map(function(book) {

          const isCoincidenceByAuthor = book.coincidence_type === "author_name";

          let text = book.book_name

          if (isCoincidenceByAuthor) {
            text += ` (by ${book.author_coincidence})`;
          }

          return {
            id: book.id,
            text: text
          };
        });

        return {
          results: result
        };
      },
      cache: true
    }
  });
});

function redirectToSearch(event) {
    event.preventDefault();
    const select = document.getElementById('book-select');
    const bookId = select.value;
    if (bookId) {

        if (bookId.startsWith("custom")) {
          const searchTerm = bookId.substring(7);
          window.location.href = `/browse/search/${searchTerm}`;
          {{!-- alert("TODO: Implement search by custom term: " + searchTerm); --}}
        } else {
            window.location.href = `/book/${bookId}`;
        }
    } else {
        alert("Please select a book.");
    }
}
</script>

