<link rel="stylesheet" href="/static/css/post.css">

    <div id="container">
      
      <button id="back-to-feed" onclick="history.back()">⬅️ Back to Feed</button>

      <!-- Single Post -->
      {{> individual_post hideCommentButton=true unicoPost=true}}

      <!-- Comments Section -->
      <div id="comments-section">
        <h2>Comments</h2>
        {{#if comments}}
        {{#each comments}}
        <!-- Existing Comment -->
        <div class="comment">
          <div class="comment-user">
            <a href="/{{username_comment}}/profile"><strong>@{{username_comment}}</strong></a>:
          </div>
          <div class="comment-content">
            {{content}}
          </div>
        </div>
        
        {{/each}}
        {{else}}
        <p>No comments yet. Add one yourself!</p>
        {{/if}}
        {{#if loggedIn}}
        <!-- New Comment Form -->
        <form id="new-comment-form" action="/post/{{post_id}}/comment" method="post">
          <textarea name="comment-content" placeholder="Add a comment..." required></textarea>
          <button type="submit">Post Comment</button>
        </form>
        {{/if}}
    </div>
  </div>


<script src="/static/js/updateLikes.js" type="text/javascript"></script>
<script src="/static/js/like.js" type="text/javascript" event_listener_location="container"></script>
