<link rel="stylesheet" href="/static/css/style.css">

<div id="container">
<div class="stats-container">
  <h1>{{username}}'s Books</h1>

  {{#if stats}}
    <!-- Contenedor para el gráfico -->

    <div class="stats-list">
      <!-- Contenedor principal de las columnas, ordenadas de acuerdo con el gráfico -->
      <div class="columns-container">
        {{#each stats}}
          <div class="stat-column" style="flex: 1; min-width: 250px;">
            <h2 class="stat-title" style="color: {{this.stateColor}};">
              <span class="state">{{state}}</span> 
              <span class="count">({{count}})</span>
            </h2>
            <div class="books-group">
              {{#each books}}
                <div class="item">
                  <img src="{{this.image}}" alt="Book Cover" class="book-cover">
                  <div class="info">
                    <a href="/book/{{this.id}}" class="topic-link"><em>{{this.name}}</em></a>
                    {{!-- <p>Authors: {{this.authors}}</p>
                    <p>Genres: {{this.genre}}</p> --}}
                  </div>
                </div>
                <hr class="book-separator"> <!-- Línea separadora entre libros -->
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <p>No stats available.</p>
  {{/if}}
</div>

{{#if showStatsButton}}
  <div class="stats-button-container">
    <a href="/{{userId}}/stats/graphs" class="see-stats-button">See Stats</a>
  </div>
{{/if}}
</div>
</div>

<style>
#main-content {
  flex-direction: column;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

  .stats-button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center; 
}

.see-stats-button {
  padding: 10px 20px;
  background-color: white;
  color: #B0B0B0; 
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover */
.see-stats-button:hover {
  background-color: #B0B0B0;
  color: white; 
}
  
 .stats-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 30px; 
}

h1 {
  text-align: center; 
  font-size: 28px; 
  margin-bottom: 30px; 
}

.chart-container {
  width: 100%;
  max-width: 800px; 
  height: 400px;  
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 40px;
}

.columns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%; 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto;
}

.stat-column {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  min-height: 300px; 
  text-align: center; 
}

.stat-column h2 {
  font-size: 20px;
  color: #333;
}

.books-group {
  display: flex;
  flex-direction: column; 
  gap: 30px;
  overflow-y: auto; 
  max-height: 350px; 
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-cover {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.info {
  margin-top: 10px;
}

.info h2 {
  font-size: 16px;
  font-weight: bold;
}

.info p {
  font-size: 14px;
}

.book-separator {
  border: none;
  border-top: 1px solid #ddd; 
  margin: 10px 0; 
}

.stat-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.state {
  text-transform: uppercase; 
  font-size: 18px;
}

.count {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  margin-left: 5px; 
}

.topic-link {
  color: #00796b; 
  text-decoration: none; 
  font-weight: bold; 
}

.topic-link:hover {
  color: #004d40; 
  text-decoration: underline; 
}

.topic-link em {
  font-style: italic; 
}
</style>
