<link rel="stylesheet" href="/static/css/post_individual.css" />

  <link
  rel="stylesheet"
  href="/static/css/stars_review.css"/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}

<div id="feed">
    {{#with feed}}
    {{#if posts}}
        {{#each posts}}
            {{> individual_post}}
        {{/each}}
        {{#if page_number}}
            <a href="/{{endpoint_route}}?page={{page_number}}&paginate_from={{paginate_from}}{{#if book.id includeZero=true}}&book_id={{book.id}}{{/if}}">Load more posts</a>
        {{else}}
            <p>You have reached the bottom! There are no more older posts</p>
        {{/if}}
    {{else}}
        <p>No posts yet</p>
    {{/if}}
    {{/with}}
</div>

{{#if experimental}}
<div id="fullscreenVideo">
    <video id="videoElement">
      <source src="/static/uploads/repost.webm" type="video/webm">
    </video>
</div>

<script>
    function playRepostVideo() {
      const videoElement = document.getElementById("videoElement");
      videoElement.src = "/static/uploads/repost.webm";
      playFullscreenVideo();
    }

    function playLikeVideo() {
      const videoElement = document.getElementById("videoElement");
      videoElement.src = "/static/uploads/like.webm";
      playFullscreenVideo();
    }

    function playDislikeVideo() {
      const videoElement = document.getElementById("videoElement");
      videoElement.src = "/static/uploads/dislike.webm";
      playFullscreenVideo();
    }


    function playFullscreenVideo() {
      const videoContainer = document.getElementById("fullscreenVideo");
      const videoElement = document.getElementById("videoElement");

      // Show the video container and play the video
      videoContainer.style.display = "block";
      videoElement.play();

      // Close video on click or end of video
      videoElement.onended = closeFullscreenVideo;
    }

    function closeFullscreenVideo() {
      const videoContainer = document.getElementById("fullscreenVideo");
      const videoElement = document.getElementById("videoElement");

      // Pause video and hide the container
      videoElement.pause();
      videoContainer.style.display = "none";
    }
  </script>
{{/if}}

   <style>
    /* Hide video by default */
    #fullscreenVideo {
      display: none;
      position: fixed;
      top: 0;
      left: -1;
      height: 100vh;
      z-index: 1000;
    }
    /* Fullscreen style for the video */
    #fullscreenVideo video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>