{{#if unicoPost}}
  <link rel="stylesheet" href="/static/css/post_individual.css" />

  <link
  rel="stylesheet"
  href="/static/css/stars_review.css"/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{{! FUENTE ESTRELLAS https://jsfiddle.net/4qqspqxh/ }}

{{/if}}




<div class="post" post-id="{{post_id}}">
  {{#if unicoPost}}{{#if is_own}}<button class="delete-post-button" onclick="deletePost('{{post_id}}')">
    <img class="delete-post-icon" src="/static/assets/delete.svg" alt="Delete" />
  </button>{{/if}}{{/if}}
  <div class="user-info">
    {{#if repost_username}}<strong class="repost-indicator"><a
          href="/{{repost_username}}/profile"
        >@{{repost_username}}</a>
        ⥂</strong>
    {{/if}}<strong><a href="/{{username_post}}/profile">@{{username_post}}</a></strong>
    {{#if is_review}}reviews{{else}}on{{/if}}
    {{#if book_id includeZero=true}}<a href="/book/{{book_id}}" class="topic-link"><em>{{book_name}}</em></a>{{/if}}
    {{#if author_topic}}<a href="/browse/author/{{author_topic}}" class="topic-link"><em>{{author_topic}} (Author)</em></a>{{/if}}
  </div>
  {{#if is_review}}
  <div class="ratings">
    <div class="full-stars" style="width:{{review_score}}%"></div>
    <div class="empty-stars"></div>
  </div>
  {{/if}}
  <div class="post-text">
    {{content}}
  </div>
  <div class="post-actions">
      <a href="#" class="like-button">
        <div class="like-div-icon">
        <img class="like-button-icon" src="/static/assets/like.svg" alt="Like"/>
        </div> 
         <span
          class="like-counter"
          style="margin-right: 8px;"
        >?</span></a>
      <a href="#" class="repost-button">
        <div class="repost-div-icon">
        <img class="repost-button-icon" src="/static/assets/repost.svg" alt="Repost"/>
        </div>
        <span
          class="repost-counter"
          style="margin-right: 8px;"
        >?</span></a>
      <a href="/post/{{post_id}}" class="comment-button">
        <div class="comment-div-icon">
        <img class="comment-button-icon" src="/static/assets/comments.svg" alt="Comment"/>
        </div>
        <span
          class="comment-counter"
          style="margin-right: 8px;"
        >?</span></a>
    {{#unless hideCommentButton}}
      {{!-- <a href="/post/{{post_id}}">See details</a> --}}
    {{/unless}}
  </div>
</div>


{{#if unicoPost}}

<script>
  function deletePost(post_id) {
    Swal.fire({
      title: 'Are you sure you want to delete this post?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        deletePostConfirmed(post_id);
      }
    });
  }

  function deletePostConfirmed(post_id) {
    fetch(`/post/${post_id}`, {
      method: 'DELETE',
    }).then((response) => {
      if (response.ok)
        window.location.href = '/';
      else 
        response.text().then((text) => 
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: text
          })
        );
    }).catch((error) => {
      console.error('Error:', error);
    });
  }
</script>

{{/if}}
